# Secrets & Credentials
token.json
token.pickle
client_secrets.json
.env

# Cache and Output Folders
output/
outputs/
cache/
catch/
temp/
tmp/
__pycache__/
*.pyc
*.mp4

# Allow all files inside assets
!assets/
!assets/**
