# Media & Export Binaries
output/
cache/
*.mp4
*.mkv
*.mov
*.wav
*.mp3
*.aac

# Temporary & Neural Weights
__pycache__/
*.py[cod]
.pytest_cache/
.cache/
torch_cache/
assets/fonts/*.ttf

# Local Auth Secrets
client_secrets.json
token.json
